<%- include('./includes/head.ejs') %>

<div class="text-center">
    <h4 class="m-5">
        صفحه موردنظر پیدا نشد
    </h4>
    <a href="/" class="btn btn-outline-info">
        برگشت به صفحه اصلی
        <span class="fa fa-heart" style="color: red"></span>
    </a>
</div>

<%- include('./includes/footer.ejs') %>
